<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ page.title }}</title>
  
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@700&family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="{{ '/css/fontawesome.all.min.css' | relative_url }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" rel="stylesheet">
  <link href="{{ '/css/bulma.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/index.css' | relative_url }}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script defer src="{{ '/js/fontawesome.all.min.js' | relative_url }}"></script>
  <script src="{{ '/js/index.js' | relative_url }}"></script>
</head>

<body>
  <section class="section">
    <div class="container is-max-widescreen">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
        </ul>
      </nav>

      <div class="content">
        {{ content }}
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content footer-links has-text-centered">

        <a class="external-link button is-light is-small" href="https://mail.google.com/mail/?view=cm&fs=1&to=julespinoux@gmail.com" target="_blank">
          <span class="icon is-small"><i class="fas fa-envelope"></i></span>
        </a>

        <a class="external-link button is-light is-small" href="/Jules_ESPINOUX_Resume.pdf" target="_blank">
          <span class="icon is-small"><i class="fas fa-file"></i></span>
        </a>

        <a class="external-link button is-light is-small" href="https://www.linkedin.com/in/jules-espinoux/" target="_blank">
          <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
        </a>

        <a class="external-link button is-light is-small" href="https://github.com/{{ site.github_username }}" target="_blank">
          <span class="icon is-small"><i class="fab fa-github"></i></span>
        </a>
      </div>
      <p style="text-align: center; margin-top: 1rem; color: #666;">
        © {{ site.name }} - {{ "now" | date: "%Y" }}
      </p>
    </div>
  </footer>
</body>
</html>
